*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: sans-serif;
	font-size: 14px;
	line-height: 1.7em;
}
h1, h2, h3, h4, h5, h6{
	font-family: serif;
}
a, a:hover{
	text-decoration: none;
}

.tabs-cover{
	width: 700px;
	margin: 0px auto;

}
.tab-btn{
	display: inline-block;
	padding: 15px 34px;
	color: #fff;
	background:#222 ;
	cursor: pointer;
}

.tab{
	margin-bottom: 200px;
	height: 300px;
	line-height: 300px;
	text-align:center;
	background: #08c;
	color: #fff;
	font-size: 40px;
}

